meta_Automotive.json.gz
meta_Books.json.gz
signalmedia
amazonreviews_exploratory.ipynb
.ipynb_checkpoints
.DS_store
venv
yelp_dataset/
Pipfile
Pipfile.lock
app/data/Yelp_reviews_dataset/yelp_dataset.db
