apiVersion: apps/v1
kind: Deployment
metadata:
  name: market-analysis-deployment
  labels:
    app: market-analysis
spec:
  replicas: 1  # Adjust the number of replicas based on your traffic needs
  selector:
    matchLabels:
      app: market-analysis
  template:
    metadata:
      labels:
        app: market-analysis
    spec:
      containers:
        - name: market-analysis
          image: gcr.io/cloudcomputinginc/market_analysis:latest  # path to image in GCR
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "200m"
          ports:
            - containerPort: 50053
      imagePullSecrets:
        - name: gcr-io
