apiVersion: v1
kind: Service
metadata:
  name: market-analysis-svc
  labels:
    app: market-analysis
spec:
  selector:
    app: market-analysis
  ports:
    - protocol: TCP
      port: 50053  # The port the service is exposed on within the cluster
      targetPort: 50053  # The port the container is listening on
  type: ClusterIP
