apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
data:
  MARKET_PERF_HOST: "market-performance"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: "gcr.io/test-project-tp1/api-gateway"
        ports:
        - containerPort: 8000
        env:
        - name: MARKET_PERF_HOST
          valueFrom:
            configMapKeyRef:
              name: api-gateway-config
              key: MARKET_PERF_HOST
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP  # Changed from LoadBalancer to ClusterIP since Ingress will handle access
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: market-performance-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: market-performance
  template:
    metadata:
      labels:
        app: market-performance
    spec:
      containers:
      - name: market-performance
        image: gcr.io/test-project-tp1/market-performance
        ports:
        - containerPort: 50053
---
apiVersion: v1
kind: Service
metadata:
  name: market-performance-service
spec:
  selector:
    app: market-performance
  ports:
    - protocol: TCP
      port: 50053
      targetPort: 50053
  type: ClusterIP

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-gateway-ingress
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: api-gateway-service
            port:
              number: 8000


