apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway-deployment
spec:
  replicas: 1 # or more, depending on your needs
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: gcr.io/your-project/api_gateway:latest
        ports:
        - containerPort: 8000
        env:
        - name: MARKET_PERF_HOST
          value: market-performance-svc
